.Alert {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Alert-danger {
  color: red;
  background: rgba(255, 0, 0, 0.1);
}

.Alert-warning {
  color: orange;
  background: rgba(255, 166, 0, 0.1);
}

.Alert-success {
  color: green;
  background: rgba(0, 128, 0, 0.1);
}

.Alert-info {
  color: blue;
  background: rgba(0, 0, 255, 0.1);
}

.Alert-text {
  padding: 8px 15px;
  display: inline-block;
}
