.Input {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  padding: 4px 11px;
  color: #000000d9;
  font-size: 14px;
  outline: none;
}

.Input:disabled {
  cursor: no-drop;
  background: #d9d9d9;
}
