.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  line-height: 1;
  transition: all 0.2s linear;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.block {
  display: block;
  width: 100%;
}

.storybook-button:hover {
  box-shadow: 0 8px 25px -8px currentColor;
}

.primaryColor {
  border-color: #7367f0;
  background-color: #7367f0;
}

.primaryColor:hover {
  box-shadow: 0 8px 25px -8px #7367f0;
}

.secondaryColor {
  border-color: #82868b;
  background-color: #82868b;
}

.secondaryColor:hover {
  box-shadow: 0 8px 25px -8px #82868b;
}

.successColor {
  border-color: #28c76f;
  background-color: #28c76f;
}

.successColor:hover {
  box-shadow: 0 8px 25px -8px #28c76f;
}

.dangerColor {
  border-color: #ea5455;
  background-color: #ea5455;
}

.warningColor {
  border-color: #ff9f43;
  background-color: #ff9f43;
}
.infoColor {
  border-color: #00cfe8;
  background-color: #00cfe8;
}

.darkColor {
  border-color: #4b4b4b;
  background-color: #4b4b4b;
}

.Outline {
  border: 1px solid #7367f0;
  color: #7367f0;
}
